<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<form action="#" th:action="@{/logout}" method="POST">
    <!--                                <div class="head__item-user-inner&#45;&#45;item">-->
    <!--                                <input type="submit" class="btn btn-info" value="Đăng xuất"/>-->
    <button type="submit" class="head__item-user-inner--item" style="    border-top-color: currentcolor;
    border-bottom-style: none; border-right-style: none;border-left-style: none;" >Đăng xuất </button>
</form>
Xin chào<b><span sec:authentication="principal.username" ></span></b>
<span sec:authentication="principal.authorities" ></span>
<button class="btn btn-info" sec:authorize="hasAnyRole('ADMIN','MANAGER')" >
    <a th:href="@{/hocKy/create}" class="btn btn-info btn-sm " >
        Thêm
    </a>
</button>
<!--<button class="btn btn-success" sec:authorize="hasRole('USER')" onclick="addRow()">-->
<!--    <a th:href="@{/user/update/(username=${principal.username})}" class="btn btn-info btn-sm " >-->
<!--        Update information-->
<!--    </a>-->
<!--</button>-->

<!--                                </div>-->

<div class="container" >
    <h1>Classes</h1>
    <table id="classTable"  class="table table-dark table-striped-columns table-hover">
        <tr class="table-success">
            <th>ID</th>
            <th>Năm học</th>
            <th>Học kì</th>
            <th>Edit</th>
            <!-- Add more columns for other class attributes -->
        </tr>
        <tr th:each="hocKy : ${hocKyList}" class="table-success">
            <td th:text="${hocKy.id}"></td>
            <td th:text="${hocKy.namHoc}"></td>
            <td th:text="${hocKy.hocKi}"></td>
            <td>

                <button class="btn btn-warning" sec:authorize="hasRole('ADMIN')" >
                    <a th:href="@{/hocKy/delete(id=${hocKy.id})}" class="btn btn-warning btn-sm " >
                        Delete
                    </a>
                </button>
                <button class="btn btn-warning" sec:authorize="hasRole('ADMIN')" >
                    <a th:href="@{/hocKy/showUpdateHocKy(id=${hocKy.id})}" class="btn btn-warning btn-sm " >
                        Update
                    </a>
                </button>
                <button class="btn btn-warning" sec:authorize="hasRole('ADMIN')" th:object="${classSchool}" th:if="${classSchool != null}">
                    <form  th:action="@{/class/update-hocKy(id=${hocKy.id})}" method="post">
                        <!-- Your form fields here -->
                        <div >
                            <input type="hidden" th:field="*{idClass}"/>
                            <input type="hidden" th:field="*{lop}"/>
                            <input type="hidden" th:field="*{schoolYear}"/>
                            <input type="hidden" th:field="*{endDay}"/>
                            <input type="hidden" th:field="*{soTiet}"/>
                            <input type="hidden" th:field="*{phongHoc}"/>
                            <input type="hidden" th:field="*{homeroomTeacher}"/>
                            <input type="hidden" th:field="*{subjects}"/>
                        </div>
                        <input type="submit" value="Choose" class="btn btn-sm "/>
                    </form>
                </button>
            </td>
            <!-- Add more cells for other class attributes -->
        </tr>
    </table>
</div>
<script>
    $(document).ready(function () {
        // Khi trang được tải, kiểm tra xem đã đăng ký thành công hay chưa
        var isEnrolled = $("#successBtn").length > 0;

        // Ẩn nút đăng ký nếu đã đăng ký thành công
        if (isEnrolled) {
            $("#registerBtn").hide();
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>