:root{
    --white-color:#fff;
    --black-color:#090101;
    --text-color:#333;
    --prim-color:#d0011b;
    --brand-primary-light-color:rgba(208,1,27,0.08);
    --orange-color: #ff5a00;
    --nau-color:#667580;
    --head-height:34px;
    --app-height:120px;
    --button-height: calc(var(--app-height) - var(--head-height));
    --importain--color: #667580;
    --nen--color:#e7ecf0;
    --mau-chu-dao:#1DA1F2;
}
*{
    box-sizing: inherit;
}
html,body{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif/*chủng chữ không có chÂN*/;
    box-sizing: border-box;
    margin: 0px;

}
.contanier{
    background-color: var(--nen--color);
}
.header-home{
display: flex;
justify-content: space-between;
align-items: center;
height: 57px;
box-shadow: 0px 1px 5px 2px rgb(191, 211, 222);
padding: 5px 150px 10px 150px;
background-color: #fff;


}
.header-home__image--home{
    width: 93px;
    height: 40px;
    background: center center no-repeat;
}
..header-home__image{

}
.header-home__seach{
    margin-left: 10px;
    margin-top: 5px;
    width: 280px;
    position: relative;

}
.seach-bar__input{
    width: 100%;
    background-color: #fff;
    height: 38px;
    color: #b2b2b2;
    font-size: 12px;
    border: 1px solid #e6ecf0;
    padding: 0 15px;
    border-radius: 20px !important;

}
.seach-bar__button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 38px;
    height: 100%;
    border: 0;
}
.header-home-left{
    display: inline;
    display: flex;
    flex-direction: row;
}
.header-home-right{
    display: inline;
    display: flex;
    flex-direction: row;
}
.header-home__1{
    padding: 20px;
    font-size: 10px;
}
.header-home__2{
    padding: 20px;
    font-size: 10px;
}
.header-home-a{

    color: var(--nau-color);
    text-decoration: none;
}
.header-home__3{
    position: relative;
    padding: 10px;
    font-size: 15px;
    left: 20px;
}
.header-home__3-image{
    width: 30px;
    height: 40px;
    border-radius: 10px;
    background: center center no-repeat;

}
.header-home__3-div--image{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;

}
.header-home__3--dropdown{
    display: flex;
    flex-direction: row;
}
/* .header-home__3--dropdown:hover{
    color: #1DA1F2;
} */
.header-home__3-div--fullname{
    color: #1DA1F2;
    padding: 10px;
}
.header-home-a--fullname:hover{
    color: #1DA1F2;
}
.header-home__3--dropdown-element{
    /* display: none; */
    position: absolute;
    width: 180px;
    height: 140px;
    right: 10;
    top: 63px;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    display: none;

}
.header-home__3--dropdown-element::before{
    content: "";
    background-color: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
    right: 0;
}
.header-home__3--dropdown-element::after{
    content: "";
    /* background-color: #090101;
    width: 15px;
    height: 15px; */
    position: absolute;
    top: -7px;
    right: 20px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
}
.header-home__3--dropdown-element--1{
    padding: 15px 10px;
    border-bottom: 1px solid #e7ecf0;
}
.nav{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    min-height: 800px;

}
.nav-container{
    background-color: #fff;
    width: 100%;
    min-height: 800px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.nav-container__title-a{
    text-decoration: none;
    color: #515151;
}
.nav-container__title{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 46px;
    font-family: Tahoma;
    line-height: 50px;
    color: #578ebe;
    font-weight: 550;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.nav-container__title-luu{
    background-color: #1da1f2;
    color: #fff;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 10px;

}
.nav-container__element-header{

}
.nav-container__element-header--ul{
    border-bottom: 1px solid #d5d5d5;
    padding-left: 0px;
}
.nav-container__element-header--ul-li{
    display: inline-block;
    font-size: 14px;
    height: 40px;
    font-family: Tahoma;
    padding: 10px 20px;
    color: #578ebe;
    font-weight: 550;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    position: relative;

}
.nav-container__element-header--ul-li::before{
    content: "";
    width: 100%;
    background-color: #ffffff;
    height: 2px;
    position: absolute;
    bottom: -2px;
    right: 0;
}
.nav-container__element-nav{
    padding: 15px 20px;
    color: #667580;
}
.nav-container__element-nav-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;
}
.nav-container__element-nav-1--element{

}
.nav-container__element-nav-1--element-span{
    font-size: 12px;
}
.nav-container__element-nav-1--element-div{
    width: 258px;
}
.nav-container__element-nav-1--element-div-input{
    width: 100%;
    height: 30px;
    color: #667580;
    border: 1.5px solid #cdcdcd;
    padding: 0px 10px;
    font-size: 14px;

}
.nav-container__element-nav-1-h2{
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 20px;

}
.nav-container__element-nav-1--element-div-phuong{
    width: 535px;
}
.input-none{
    border-style: none;
        background-color: transparent;
        color: #fff;
}
.nav-right__dangkihocphan-a{
    text-decoration: none;
}
.input-none{
    border-style: none;
        background-color: transparent;
        color: #fff;
}
.input-none-dx{
    border-style: none;
        background-color: #fff;
        color: #667580;
        cursor: pointer;
}
.header-home__3--dropdown-element--1-span{
    font-size: 7px;
    background-color: #66e358;
    padding: 5px;
    color: #fff;
    border: 1px solid rgb(205, 206, 205);
    border-radius: 10px;
    margin-bottom: 5px;
}
.header-home__3--dropdown-element--1-span-false{
    font-size: 7px;
    background-color: #e94030;
    padding: 5px;
    color: #fff;
    border: 1px solid rgb(205, 206, 205);
    border-radius: 10px;
    margin-bottom: 5px;
}