:root{
    --white-color:#fff;
    --black-color:#090101;
    --text-color:#333;
    --prim-color:#d0011b;
    --brand-primary-light-color:rgba(208,1,27,0.08);
    --orange-color: #ff5a00;
    --nau-color:#667580;
    --head-height:34px;
    --app-height:120px;
    --button-height: calc(var(--app-height) - var(--head-height));
    --importain--color: #667580;
    --nen--color:#e7ecf0;
}
*{
    box-sizing: inherit;
}
html,body{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif/*chủng chữ không có chÂN*/;
    box-sizing: border-box;
    margin: 0px;

}
.contanier{
    background-color: var(--nen--color);
    min-height:780px;
}
.header-home{
display: flex;
justify-content: space-between;
align-items: center;
height: 57px;
box-shadow: 0px 1px 5px 2px rgb(191, 211, 222);
padding: 5px 150px 10px 150px;
background-color: #fff;


}
.header-home__image--home{
    width: 93px;
    height: 40px;
    background: center center no-repeat;
}
..header-home__image{

}
.header-home__seach{
    margin-left: 10px;
    margin-top: 5px;
    width: 280px;
    position: relative;

}
.seach-bar__input{
    width: 100%;
    background-color: #fff;
    height: 38px;
    color: #b2b2b2;
    font-size: 12px;
    border: 1px solid #e6ecf0;
    padding: 0 15px;
    border-radius: 20px !important;

}
.seach-bar__button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 38px;
    height: 100%;
    border: 0;
}
.header-home-left{
    display: inline;
    display: flex;
    flex-direction: row;
}
.header-home-right{
    display: inline;
    display: flex;
    flex-direction: row;
}
.header-home__1{
    padding: 20px;
    font-size: 10px;
}
.header-home__2{
    padding: 20px;
    font-size: 10px;
}
.header-home-a{

    color: var(--nau-color);
    text-decoration: none;
}
.header-home__3{
    position: relative;
    padding: 10px;
    font-size: 15px;
    left: 20px;
}
.header-home__3-image{
    width: 30px;
    height: 40px;
    border-radius: 10px;
    background: center center no-repeat;

}
.header-home__3-div--image{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;

}
.header-home__3--dropdown{
    display: flex;
    flex-direction: row;
}
.header-home__3--dropdown:hover{
    opacity: 0.9;
}
.header-home__3--dropdown-element{
    /* display: none; */
     position: absolute;
        width: 180px;
        height: 140px;
        right: 10;
        top: 63px;
        box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
        text-align: center;
        background-color: #fff;
        border-radius: 2px;
        display: none;

}
.header-home__3--dropdown-element--1{
    padding: 15px 10px;
    border-bottom: 1px solid #e7ecf0;
}
/* .header-home__3:hover .header-home__3--dropdown-element{
    display: block;
} */

.header-home__3-div--fullname{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav-cointainer{
    display: flex;
    flex-direction: row;
    width: 1170px;
    margin: auto;
    padding: 10px 15px;
}
.nav-left{
    width: 673.75px;
    padding: 5px 10px;

}
.nav-right{
    width: 481.25px;
    padding: 5px 10px;
}
.nav-right__lich{
    display: flex;
    flex-direction: row;

}
.nav-right__lich-hoc{

    width: 230px;
    padding: 15px;
    height: 111px;
    margin-right: 7px;
    overflow: hidden;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
    background: #e0fbff;
    color: #4da1e8;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: Tahoma;
    font-size: 10px;
}
.nav-right__lich-thi{
    width: 230px;
    padding: 15px;
    height: 111px;
    margin-left: 7px;
    overflow: hidden;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
    background: #fff2d4;
    color: #ff9205;
    border-radius: 4px;
    font-size: 10px;
}
.nav-right__dangkihocphan{
   display: flex;
   justify-content: space-around;
}
.nav-right__dangkihocphan-inner{
    text-align: center;
    background-color: #fff;
    min-height: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 129px;
    height: 120px;
    font-family: Tahoma;
    font-size: 10px;
    color: var(--importain--color);
}
.nav-right__dangkihocphan-a{
    text-decoration: none;
}
.icon{
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-right__lich-hoc--element{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.nav-right__lich-hoc--element-number{
    display: inline-block;
    font-size: 35px;
    line-height: 40px;
}
.nav-right__lich-hoc--element-icon{
    text-align: center;
    display: inline-block;
    font-size: 10px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    width: 40px;
    height: 40px;
}
.nav-left-container{
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    height: 100%;

}
.nav-left-container-header{
    position: relative;
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    background-color: #4da1e8;
    font-size: 20px;
    font-family: cursive;
    color: #e0fbff;
}
.nav-left-container-header-element{
    display: flex;
   justify-content: space-between;

}
.nav-left-container-header__text{
    line-height: 30px;
}
.nav-left-container-header__upload{
    background-color: #e0fbff;
    padding: 10px 10px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 4px;
}
.input-none{
    border-style: none;
        background-color: #fff;
        color: #667580;
}
.header-home__3--dropdown-element--1-span{
    font-size: 7px;
    background-color: #66e358;
    padding: 5px;
    color: #fff;
    border: 1px solid rgb(205, 206, 205);
    border-radius: 10px;
    margin-bottom: 5px;
}
.header-home__3--dropdown-element--1-span-false{
    font-size: 7px;
    background-color: #e94030;
    padding: 5px;
    color: #fff;
    border: 1px solid rgb(205, 206, 205);
    border-radius: 10px;
    margin-bottom: 5px;
}