<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" type="text/css" th:href="@{./css/home.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!--th:object="${user}"-->
<div class="contanier" th:object="${user}">
    <!-- Header -->
    <div class="header-home">
        <div class="header-home-left">
            <div class="header-home__image">
                <img th:src="@{/image/logo.png}" alt="Ảnh logo" class="header-home__image--home">
            </div>
            <div class="header-home__seach">
                <form action="#">
                    <input class="seach-bar__input" type="text" id="k" name="k" langid="header-search-placeholder" placeholder="Tìm kiếm..." required="">
                    <button class="seach-bar__button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="header-home-right">
            <div class="header-home__1">
                <a href="/dashboard.html" title="" class="header-home-a">
                    <span><i class="fa fa-home" aria-hidden="true"></i></span>&nbsp
                    Trang chủ
                </a>
            </div>
            <div class="header-home__2">
                <a id="spanBell" href="/sinh-vien-tin-tuc-thong-bao.html" title="" class="header-home-a"><span>
                    <i class="fa fa-home" aria-hidden="true"></i></span>&nbspTin tức
                </a>
            </div>
            <div class="header-home__3">
                <div class="header-home__3--dropdown">
                    <div class="header-home__3-div--image"><img th:src="*{avatar != null ? '/avatar/'+avatar : '/image/default-avatar.png'}" alt="avatar" class="header-home__3-image"></div>
                    <div  class="header-home__3-div--fullname"><a   href="#" title="" style="margin-right: 5px;" class="header-home-a header-home-a--fullname" ><span th:text="*{firstname+' '+lastname}"></span> </a>
                        <i class="fa fa-caret-down user-account-name-caret-down" aria-hidden="true" style="color: #667580;font-size: 10px;"></i></div>
                </div>
                <div class="header-home__3--dropdown-element">
                    <a th:href="@{/user/showPageIfUser(username=${#authentication.principal.username})}" class="nav-right__dangkihocphan-a" style="color: var(--importain--color);">
                        <div class="header-home__3--dropdown-element--1">Thông tin cá nhân</div>
                    </a>
                    <a href="" class="nav-right__dangkihocphan-a" style="color: var(--importain--color);" th:href="@{/user/UpdateEmail(username=${#authentication.principal.username})}">
                        <div class="header-home__3--dropdown-element--1">Xác thực email
                            <span class="header-home__3--dropdown-element--1-span" th:if="${user.trangThaiXacThuc}">Đã xác thực</span>
                            <span class="header-home__3--dropdown-element--1-span-false" th:if="${!user.trangThaiXacThuc}">Chưa xác thực</span>
                        </div>
                    </a>
                    <a href="" class="nav-right__dangkihocphan-a" style="color: var(--importain--color);" >
                        <div class="header-home__3--dropdown-element--1">
                            <form action="#" th:action="@{/logout}" method="POST">
                            <!--                                <div class="head__item-user-inner&#45;&#45;item">-->
                            <!--                                <input type="submit" class="btn btn-info" value="Đăng xuất"/>-->
                            <input type="submit"  value="Đăng xuất" class="input-none"> </input>
                        </form>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- nav -->
    <div class="nav">
        <div class="nav-cointainer">
            <div class="nav-left">
                <div class="nav-left-container">
                    <div class="nav-left-container-header">
                        <div class="nav-left-container-header-element">
                            <div class="nav-left-container-header__text">iuh social network</div>
                            <a href="" class="nav-right__dangkihocphan-a">
                                <div class="nav-left-container-header__upload">
                                    Đăng bài viết
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <ul >
                            <li th:each="baiViet: ${baiVietList}">
                                <span th:text="${baiViet.user}"></span>
                                <span th:text="${baiViet.title}"></span>
                                <span th:text="${baiViet.content}"></span>
                                <span th:text="${baiViet.like}"></span>
                                <span th:text="${baiViet.haha}"></span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="nav-right">
                <div class="nav-right__lich">
                    <a class="nav-right__dangkihocphan-a" th:href="@{/lich-hoc-user/showPageLichHocUser(username=${#authentication.principal.username})}" title="Đăng ký học phần">
                        <div class="nav-right__lich-hoc">
                            <span>Lịch học trong tuần</span>
                            <div class="nav-right__lich-hoc--element">
                                <div class="nav-right__lich-hoc--element-number">
                                    13
                                </div>
                                <div class="nav-right__lich-hoc--element-icon">
                                    <i class="icon fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <span>Xem chi tiết</span>
                        </div>
                    </a>
                    <a class="nav-right__dangkihocphan-a"   title="Đăng ký học phần" langid="menusinhvien-15-title">
                        <div class="nav-right__lich-thi">
                            <span>Lịch học trong tuần</span>
                            <div class="nav-right__lich-hoc--element">
                                <div class="nav-right__lich-hoc--element-number">
                                    0
                                </div>
                                <div class="nav-right__lich-hoc--element-icon">
                                    <i class="icon fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <span>Xem chi tiết</span>
                        </div>
                    </a>
                </div>
                <div class="nav-right__dangkihocphan">
                    <a class="nav-right__dangkihocphan-a"  th:href="@{/homeUser/showHome(username=${#authentication.principal.username})}" title="Đăng ký học phần" langid="menusinhvien-15-title">
                        <div class="nav-right__dangkihocphan-inner">
                            <div class="icon">
                                <img th:src="@{/image/dkhp.png}" alt="">
                            </div>
                            <span lang="menusinhvien-15-vt">Đăng ký học phần</span>
                        </div>
                    </a>
                    <a class="nav-right__dangkihocphan-a"  th:href="@{/diem-user/showPageDiem(username=${#authentication.principal.username})}" title="Đăng ký học phần" langid="menusinhvien-15-title">
                        <div class="nav-right__dangkihocphan-inner">
                            <div class="icon">
                                <img th:src="@{/image/ketqua.png}" alt="">
                            </div>
                            <span lang="menusinhvien-15-vt">Kết quả</span>
                        </div>
                    </a>
                    <a class="nav-right__dangkihocphan-a"  th:href="@{/user/showPageIfUserUpdate(username=${#authentication.principal.username})}" title="Đăng ký học phần" langid="menusinhvien-15-title">
                        <div class="nav-right__dangkihocphan-inner">
                            <div class="icon">
                                <img th:src="@{/image/ketqua.png}" alt="">
                            </div>
                            <span lang="menusinhvien-15-vt">Chỉnh sửa thông tin</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    var headerHome = document.querySelector(".header-home__3");

    headerHome.addEventListener("click", function () {
        var dropdownElement = document.querySelector(".header-home__3--dropdown-element");

        // Kiểm tra trạng thái hiển thị của dropdown và thay đổi nó
        if (dropdownElement.style.display === "block") {
            dropdownElement.style.display = "none";
        } else {
            dropdownElement.style.display = "block";
        }
    });
     // Lắng nghe sự kiện click trên document để ẩn dropdown
   // Lắng nghe sự kiện mousedown trên document để ẩn dropdown
    document.addEventListener("mousedown", function (event) {
        // Kiểm tra xem sự kiện mousedown có xảy ra bên trong dropdown hay không
        if (!dropdownElement.contains(event.target)) {
            // Nếu không, ẩn dropdown
            dropdownElement.style.display = "none";
        }
    });
});

</script>
</body>
</html>